body {
    font-family: 'Press Start 2P', cursive; /* Retro pixel font with a fallback */
    margin: 0;
    padding: 0;
    background-color: #2bd994; /* Black background for the Matrix look */
    color: #d2218e; /* Bright green text */
    line-height: 1.4; /* Improve readability */
    /* text-shadow: 0 0 5px #00ff00; /* Removed the green text glow */
    overflow-x: hidden; /* Prevent horizontal scrollbar */
}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

a {
    color: #00cc00; /* Slightly darker green for links */
    text-decoration: none;
}

a:hover {
    text-decoration: underline; /* Simple underline on hover */
}

.sidebar-box img,
.main-content-box img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}