/* Basic styling for the footer */
#footer-placeholder {
    background-color: rgba(0, 0, 0, 0); /* transparent background for footer */
    color: #000000;
    text-align: center;
    padding: 10px;
    border-top: 1cqmax solid #000000; /* separator */
    margin-top: 15px;
    /* position: sticky; <--- REMOVE THIS LINE */
    bottom: 0; /* This will now just anchor it to the bottom of the normal flow */
    width: 100%;
    z-index: 10; /* Ensure it's above other elements if needed */
}

.footer-content p {
    margin: 5px 0;
}

.footer-content a {
    color: #000000;
}

.footer-content a:hover {
    text-decoration: underline;
}